/* Common Css Style */
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lato";
}
/* Reuseable */
.primary-btn {
  padding: 17px 34px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}
.primary-txt {
  color: #e55473;
}
.title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
/* Start Header Part */
.header {
  background: rgba(229, 84, 115, 0.1);
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 240px 0px 240px;
}
.banner-description h1 {
  color: #272727;
  font-size: 60px;
  font-weight: 700;
}
.banner-description p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 20px;
}
/* Start About Us Section */
.about-us {
  padding: 100px 240px 0px 240px;
}
.about-us-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us-img img {
  width: 500px;
  height: 300px;
  box-shadow: 4px 4px 8px 3px gray;
  border-radius: 8px;
}
.about-us-description h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.about-us-desc-txt {
  font-size: 18px;
  line-height: 1.4;
}
/* Start Our Featured Flowers Section */
.featured-flowers {
  padding: 100px 240px 0px 240px;
}
.featured-flowers p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 20px;
}
.featured-flowers-cards-container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flowers-details p {
  color: #272727;
  font-size: 18px;
  font-weight: 700;
  text-decoration-line: underline;
}
.flowers-card {
  width: 440px;
  height: 520px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  position: relative;
}
.flowers-card-img-primary {
  position: absolute;
  bottom: 0px;
  left: 14%;
}
.card-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  position: relative;
}
.flowers-card-img-2 {
  position: absolute;
  left: 14%;
  top: 20%;
}
.card-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
